Repository SAM-Research/sam-instant-messenger, pull requests merged in 2025-03, with the labels that each got.

#104 Fixed Client device trying to fetch its own keys and added argument parser
  .github/codecov.yml
  Cargo.toml
  client/src/client.rs
  client/src/encryption/encrypt.rs
  client/src/net/protocol/mod.rs
  e2e/tests/message.rs
  server/Cargo.toml
  server/src/main.rs
  server/src/protocol/message.rs
Labels: Client

#108 get_credentials function
  server/src/auth/authenticated_user.rs
  server/src/auth/mod.rs
Labels: enhancement

#106 Sqlite store config now takes a connection string
  .github/codecov.yml
  Cargo.toml
  client/Cargo.toml
  client/src/storage/sqlite/identity.rs
  client/src/storage/sqlite/mod.rs
  e2e/Cargo.toml
  e2e/tests/message.rs
Labels: enhancement, Client

#116 Standalone Client functions
  client/src/client.rs
  client/src/lib.rs
  client/src/logic/account.rs
  client/src/logic/device.rs
  client/src/logic/key.rs
  client/src/logic/message.rs
  client/src/logic/mod.rs
  client/src/storage/key_generation.rs
  e2e/tests/account.rs
  e2e/tests/device.rs
  e2e/tests/keys.rs
  e2e/tests/message.rs
Labels: DenIM, Client
