Repository SAM-Research/sam-instant-messenger, pull requests merged in 2025-04, with the labels that each got.

#120 Added PostgreSQL account manager
  .github/workflows/rust.yml
  client/.sqlx/query-122b321a791aa055955c57cac2cb7988141616c3f902417f04dbee01fce825df.json
  client/.sqlx/query-17a424d34e0e56d9f316e127cdc64fa10ee9406c04e22780db76121d4a3d6269.json
  client/.sqlx/query-18b05dc69cdf88cf82f11aede796c9c0e3623a3ffb99917f40b21031d4ae3b2e.json
  client/.sqlx/query-1b64754d66abbc566e4db219bf1afcb371363192dcef551420e8d2d195588685.json
  client/.sqlx/query-1c5a150e737a3683d301e7c8041b084a52124e236499a8e92ff726d53dab52cd.json
  client/.sqlx/query-33e61f82d819478b62bb8ba87f82123161d6db08390c8f833ae0a00c148e267e.json
  client/.sqlx/query-3dab301a572c8efd299caf3145ecbf70a47914276f2ee05c4b89ee0e337f002a.json
  client/.sqlx/query-3e941a54f326cc4a2519171b8db39ca6b26e997874f87d2197199aca914f56a6.json
  client/.sqlx/query-46f9ea62ceb594805fa3291e9e6bfefa3adac06bfb7b90ea0f2fcd794849f4d0.json
  client/.sqlx/query-61e09c0274cd24359014def47313229daeb2cd0f8e7e1658e089e9e50b8d1846.json
  client/.sqlx/query-6fcb0dcfa3b4c695ea0b26895f9fdf8baa0c40ec9b7d05772ab059a671051357.json
  client/.sqlx/query-74adf3be06551c2debf5f9547b655ac6771c56814a9991e6b9427ed7627708b3.json
  client/.sqlx/query-79d00d71c144f72e67e9ce0ece803fe96caf6f9905e0e84e5ac2e1f481e38e00.json
  client/.sqlx/query-7e9cdbaf67097c36eab7aadb7dc2c6bb82353de152019550be00b5e5bd56919f.json
  client/.sqlx/query-878c1e63d2d21c14457914146811bc5a61c6754a0fbd930fa34c9f8553032a35.json
  client/.sqlx/query-8a6fa3dff50995bc5641d4664a44c9f74d535784b6ac7ee4bcf481287ff61311.json
  client/.sqlx/query-8deaf8eb5a8bc830f2c26eb03a51821a4f46743668afcd93f4aa370e3f059283.json
  client/.sqlx/query-9640770a9323e54f22726d1f65a8ddf6e466406b13a8d337cdca17515b947da8.json
  client/.sqlx/query-a3274bf7d82b22b2424c694c154e6df4bc37fdbf3052cf340660248d246f26f4.json
  client/.sqlx/query-b073d1d50dce96c03621c564ee6d636645f78417060a4f64d333cc1099a180aa.json
  client/.sqlx/query-bb45af3d7e022a5f0b00d96a3dac22f63fea28dc344957427531d10bae547b57.json
  client/.sqlx/query-bc32402899e06a2b77fe870fefb6724a05be62fd27a3f16b820e139e2805b705.json
  client/.sqlx/query-d082c6dcde4bb0b8c03e0cf24c05d7a4d6e2698a016431e14c787a63541473b8.json
  client/.sqlx/query-d0bdc32ab76a00cf8769ba54f1f48d42eed0f240964b0f05384f539c48a9a2dc.json
  client/.sqlx/query-da20cdbc77d68610bf3e0756922950419a0c294830827e279d644267f6dd6f93.json
  client/.sqlx/query-dfd29f2cba25e6c46ca516c509526ff06fa4f4785aa4e646e52908add12b47a4.json
  client/.sqlx/query-e83f235cf5bc57edffea0128d3bdcbfd0bc27273f092b7f762016c04528a2437.json
  client/.sqlx/query-eefe8dad53fafc5ca1f87975e57df85928963143230df957cb0de48960d02f96.json
  client/.sqlx/query-f139ac93d4e9487640c17fc8f9c6f1b83635fcac894fe8cea2d75755e6e58790.json
  client/.sqlx/query-f3b8187882c71092bf24fb5ffa6ed09f96ca98514a31adeb81e7e6e9ac514d7e.json
  client/.sqlx/query-f6252aba7d4823da96508cd8ecb96366160fe5da260bba48d6cfa93e8b724177.json
  client/.sqlx/query-f7233754ab142b57726b710cc6233a14e57c070d5236579cd5733fe7a1e8df66.json
  server/.sqlx/query-0b31897bd28fe4dbd6db764108d9929abeaa577b7922272a327d0f252067c913.json
  server/.sqlx/query-1c9c8c17cd9467db8329d5f48618d21ce0fa994722af306d8cb7902735157b7f.json
  server/.sqlx/query-1dbbbfc8ab480712f7b45a8fbdda23efb2771760dda15a7766d2ed5e9f30a04f.json
  server/.sqlx/query-439b0723c14c4ef52dca76c030a28920610d37564feae827d75329fb2f1d0cbe.json
  server/Cargo.toml
  server/database/init.sql
  server/database/test-database.yml
  server/src/auth/keys.rs
  server/src/logic/account.rs
  server/src/logic/device.rs
  server/src/managers/entities/account.rs
  server/src/managers/entities/mod.rs
  server/src/managers/error.rs
  server/src/managers/in_memory/account.rs
  server/src/managers/in_memory/device.rs
  server/src/managers/in_memory/keys.rs
  server/src/managers/in_memory/message.rs
  server/src/managers/mod.rs
  server/src/managers/postgres/account.rs
  server/src/managers/postgres/mod.rs
  server/src/managers/traits/account_manager.rs
  server/src/managers/traits/device_manager.rs
  server/src/managers/traits/key_manager.rs
  server/src/managers/traits/message_manager.rs
  server/src/protocol/message.rs
  server/src/protocol/websocket.rs
Labels: enhancement, Server

#124 Made Postgres tests opt-in
  .github/workflows/rust.yml
  server/src/managers/postgres/account.rs
Labels: enhancement

#125 SAM Protocol decoder
  client/src/net/protocol/client.rs
  client/src/net/protocol/decode.rs
  client/src/net/protocol/error.rs
  client/src/net/protocol/mod.rs
  client/src/net/protocol/traits.rs
Labels: Client

#134 implemented port oracle
  Cargo.toml
  client/Cargo.toml
  client/src/net/protocol/client.rs
  client/src/net/protocol/websocket.rs
  e2e/Cargo.toml
  e2e/tests/account.rs
  e2e/tests/device.rs
  e2e/tests/keys.rs
  e2e/tests/message.rs
  server/Cargo.toml
  server/src/routes/websocket.rs
  test_utils/Cargo.toml
  test_utils/src/lib.rs
Labels: enhancement
